.mainheading{
    text-align: center;
}


html,body{
    height:100%;
    width:100%;
    background: url("https://images.unsplash.com/photo-1501630834273-4b5604d2ee31?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=8679c5f905a034df3296c6676fb84aa5&auto=format&fit=crop&w=750&q=80")no-repeat center fixed;
    background-size:cover;
}

.mainheading{
    text-align: center;
}

 body{
  background-color:  #E1BEE7;
 }
 
 h1{
     color: #536DFE;
 }
 
 h2{
  color: #536DFE;
 }
 



ul{
 width:100%;
 position:absolute;
 background:#536DFE;
 height:10%;
}

ul li{
 display:inline;
 list-style:none;
 position:relative;
 top:30%;
}

ul li a{
 text-decoration: none;
 color:white;
 margin:20px;
}


ul li a:hover{
 background:white;
 color:#536DFE;
 padding:2%;
}

img{
    border-radius:700px;
    position: absolute;
    top: 50%;
    right: 40%;
            
}

button{
    background-color: white;
    border: double;
    color: #536DFE;
    padding: 10px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    -webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.4s;
    cursor: pointer;
    position: absolute
  

}





