.mainheading{
    text-align: center;
}


html,body{
    height:100%;
    width:100%;
    background: url("https://www.getfynd.com.hk/blog/2015/2/6/how-cloud-computing-works/static_5444a905e4b049e2a2ed4a77_545982dbe4b08b58f1c89bb3_54d4df45e4b0043c3bbb0bed_1423236935437_.png")no-repeat center fixed;
    background-size:cover;
}

.mainheading{
    text-align: center;
}

 body{
  background-color:  #E1BEE7;
 }
 
 h1{
     color: #0040FF;
     font-family: monospace
 }
 
 h2{
  color: #0040FF;
  font-family: monospace;
  text-decoration: underline
 }
 
 h3{
  color: #0040FF;
  font-family: monospace
 }


ul{
 width:100%;
 position:absolute;
 background:#0040FF;
 height:10%;
}

ul li{
 display:inline;
 list-style:none;
 position:relative;
 top:30%;
}

ul li a{
 text-decoration: none;
 color:white;
 margin:80px;
 font-family: monospace
}


ul li a:hover{
 background:white;
 color:#0040FF;
 padding:2%;
}

.container1{
 top:35%; 
 left:38%;
 position:absolute;
    
}

.logo{
position:absolute;
 left:39%;
 top:20%;
 overflow: auto;
 height:200px;
 width:200px;
}

.container1 .h1{
 position: absolute;
 top:10%;
 left:42%;
}

.addbtnstyle {
 background-color: green;
 border: none;
 color: white;
 text-align: center;
 text-decoration: none;
 padding: 5px 5px;
 border-radius: 3px;
 font-size:90%;
}

.addbtnstyle:hover {
 cursor:pointer;
 
}

.btncal {
background-color:blue;
 border: none;
 color: #000;
 text-align: center;
 text-decoration: none;
 padding: 6px 6px;
 border-radius: 3px;
 font-size:95%;
 


}

.btncal:hover{
    cursor:pointer;
}

.btnclear:hover{
    cursor: pointer;
}

.btnclear {
 background-color: red;
    text-decoration: none;
    color: white;
    padding: 4px 4px;
    border: solid 1px red;
    border-radius: 3px;

}


.heading2{
    position: absolute;
    top: 30%;
    left: 38%;
}

.lblname{
    position: absolute;
    top: 35%;
    left: 38%;
}

.lblemail{
    position: absolute;
    top: 39%;
    left: 38%;
}

.lblpin{
    position: absolute;
    top: 45%;
    left: 38%;
}

.btnproceed{
    position: absolute;
    top: 58%;
    left: 40%;
    
    background-color: #4CAF50;
    border: none;
    color: white;
    text-align: center;
    text-decoration: none;
    padding: 5px 5px;
    border-radius: 3px;
    font-size: 90%;
}

.btnproceed:hover{
    cursor: pointer;
}

.btnvalidate{
    position: absolute;
    top: 64%;
    left: 43%;
    background-color: #008CBA;
    border: none;
    color: white;
    text-align: center;
    text-decoration: none;
    padding: 5px 5px;
    border-radius: 3px;
    font-size: 90%;
}

.btnvalidate{
    cursor: pointer;
    top:50%;
    position:absolute;
}


.ebus3_heading {
    position: absolute;
    top: 33%;
    left: 40%;
    font-size: 30px;
    font-family: monospace;
}
.ebus3name{
    position: absolute;
    top: 42%;
    left: 40%;
    font-size: 20px;
    font-family: monospace;
}

.ebus3email{
    position: absolute;
    top: 46%;
    left: 40%;
    font-size: 20px;
    font-family: monospace;
}

.ebus3total{
    position: absolute;
    top: 50%;
    left: 40%;
    font-size: 20px;
    font-family: monospace;
}

